:root{
    --back-color1: #282c34;
    --back-color2: #181a1f;
    --color1:#61dafb;
}

.itemList{
    background-color: var(--back-color1);

    display: grid;
    grid-template-columns: repeat(3,20rem);
    grid-gap: 3rem 0rem;

    justify-content: center;
    justify-items: center;

    margin: 4rem 0;
}
